.reviews__table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 98px;
}

.reviews__item-avatar {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.reviews__item-content {
    display: flex;
    flex-direction: column;
    margin: 50px 31px 32px;
    width: 495px;
}

.reviews__item {
    background: #F4F5F5;
}

.reviews__avatar-place {
    background: #B9EAE4;
    height: 37px;
    border-radius: 35px;
    font-size: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.reviews__avatar-text {
    margin-left: 18px;
    margin-right: 18px;
  
}

.reviews__item-review {
    width: 495px;
    font-size: 16px;
    margin-bottom: 48px;
}

.reviews__avatar-info {
    margin-left: 22px;
}

.reviews__avatar-name {
    display: flex;
}

.reviews__avatar-nickname {
    font-size: 24px;
    color: #1A1B1E;
    margin-right: 7px;
    margin-bottom: 3px;
}

.reviews__avatar-nickname:hover {
    color: #2E77A4;
    text-decoration: underline;
}

.reviews__item-title {
    font-size: 30px;
    margin-bottom: 13px;
    line-height: 42px;
}