.socials {
    display: flex;
}

.socials__item {
    display: flex;
    margin-right: 10px;
}

.socials__list {
    display: flex;
    align-items: center;
}

.socials__item:last-child {
    margin-right: 0px;
}


.socials__icon:hover {
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
}